@charset "UTF-8";

table, .table, thead {/**/
	border-color: rgb(180, 0, 0);
	border-top: 2px solid rgb(180, 0, 0);
	border-bottom: 2px solid rgb(180, 0, 0);
}
.table-hover>tbody>tr:hover {/**/
	background-color: rgba(180, 0, 0, 0.2);
}
.pagination li a {/**/
	border: 1.5px solid rgb(180, 0, 0);
}
.nav>li>a:hover, .nav>li>a:focus, .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
.btn {/**/
	background-color: rgb(180, 0, 0);
}
.form-control:focus {/**/
	border-color: rgb(180, 0, 0);
	box-shadow: 0 0 0 0.25rem rgba(180, 0, 0, 0.25);
}
.pagetitle {
	color:rgb(180, 0, 0);
}